language: go
go_import_path: github.com/goeuro/kubernetes-ingressify
go:
- 1.9
install:
- bin/init.sh
script:
- bin/test.sh
- VERSION="$TRAVIS_TAG" bin/cross-compile.sh
after_success:
- bin/release-latest.sh
deploy:
  provider: releases
  skip_cleanup: true
  overwrite: true
  api_key:
    secure: NBlXyTxEUf3ZvkKP7cw6dpS72lQ7f8lZ+cNgc3ht6mvyU8zlRxPYSDBQZBvV1pCKsWTUTZJqpPTdZMGX8m6u4jco/0JIne2guOMvFwDamlQSQ8WkQYpgSXzO/bI/+weAXKIY0hNsJKe5+mBG36zUM2OLh6+erZqcKUqSQRYdHYRZdZH5bqmPq8j6hI0EXS9Oy0inggHHQXznGyXxNXN9SGQUldh6WPywyTXqoKB+lZcCoWf13o1ETcR99Km+MK6Pf2xC1EHHMMcscWIlPrkHnTF03MAMz0pT26n+nbcF6AoPrY38DMeenPIbA3rGmtL9zviwUy5VuqNOz3ema3F7sF6CRM+fnpOeAk7hmBmeJANgiKDN9AkobGxpEkfOslewOtR+GKdH8CNSGgg02RCwf+/1TYyAjTwIiBDcTwPjOoZCKwVyif5j/KlnlYkcV96Iqwf+GrFUFS1b7vQn44u+AFJQ4RHkcuuBUkqOA1nIXfXmA8Cj/O3EkLeY9sza7vE7nGUCvgXUabwipRt0/WT8OMQkNuUihKfmoXVwVE6+mjo8aL/UCQeLgqv80FJA6rEPfGXQ5+GVQ3Nyc+i6KV3ldd+Wuf6a4PoLbQIK6Vp1xXbuYh4btO20hgCdr2aAGIDO+ZhwfClCWtmZMIg/GbchWbVmly3ClnVTKf3Nu/VDbms=
  file:
  - gen/kubernetes-ingressify_linux_amd64
  - gen/kubernetes-ingressify_darwin_amd64
  on:
    repo: goeuro/kubernetes-ingressify
    branch: none
    tags: true
    condition: "$TRAVIS_TAG =~ ^v[0-9].+$"
notifications:
  email: false
env:
  global:
    secure: MvRV33pB8DRN2yr1DbFF6yWEz1zNP3aA+uAOFnfzl13HqPKs1NaXKKwjmkXz5osAl21GWqGOCdlliwWiChsr0Re+/rvvEE7CmCs2tYIVh8t8Yg+GzL9+E1d5UADzWZ8xe2ZPHkNVvIh3al/hxcb3myJdwVEmnZ6t6OR0cCf5yha3gMiHTcz2Ug8PY2zCXHNu5V8Btg8jAfnTg8gY+w7qD3QXEOurbTn6/IaD5BLsvg2DwaWM+wYaIha2XK1qwmbO4f2GQyPeEOaNQ9z/WDMox9SS6tE3UWT3nMHnJhdkV79P9u5h7OJPuOwZB0/AOdH/o2XEVqxJhb+6tomhe+HSK8XaHkyajCZkSIWLHwuzL1FQyGbxcW+RthI01il6ENeJ/TC/KRgP1gtXG3IYu8iQCW+ayVcG4pELmOhZ2gdOXjXru5gUbVdh7bPMkGmxgOiIoGFcPOBkv1hzoo4mDsTq86zcSTdNV/16MPxh5d7ntJpUrNh+eBY39Dfuk4fZf7wskidR+oYcvQXnQsW+x4CoeITN49akzuTZhx2fw4Chip4klcPzACENsSBnmS1ki+q0kYZ50IXH9XGdKht/5kAU5QgLSJXUZnWnLc7SPXISIE810uGFFya0Igmf1jf+HvU+YLtD7dhKAdTPZXkfraMj0EdnQ7AbdPnSS11DzOg7/pQ=
